@import 'bootstrap';

html, body, #wall_io_canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #334;
  color: #dfd;
}

.canvas-view, .canvas-scroll, .canvas-tile {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#wall_io_logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 500px;
  height: 100px;
}

#wall_io_canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.canvas-view {
  width: 100%;
  height: 100%;
  position: relative
}

.canvas-view .position {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.canvas-entity {
  position: absolute;
  border: 2px dashed red;
}

.canvas-buffer {
  position: relative;
}

.canvas-tile {
  background: transparent;
  position: absolute;
  border: 1px dashed #334534;
}

.canvas-tile .hash {
  display: none;
}



.buttons {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
}
